// 
// Buttons
// 

.btn:not(.btn-category) {
    padding: 1.25rem 2rem;
    font-family: $font-family-special;
    font-size: 80%;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
    border: 0;

    &.btn-standard {
        padding: 1rem 1.3rem;
    }

    &:not(.shadow-none) {
        box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
    }

    &.base-order-button {
        box-shadow: -2px -2px 5px rgba(0,0,0,0.2),
                     2px 2px 5px rgba(0,0,0,0.2) !important;
    }

    &.btn-glass {
        backdrop-filter: blur(6px);
        background-color: rgba(255, 255, 255, 0.2);
        color: $white;

        &:hover {
            background-color: rgba(255, 255, 255, 0.3);
        }
    }

    &.btn-glass-gray {
        backdrop-filter: blur(6px);
        background-color: rgba(0, 0, 0, 0.1);
        color: $black;

        &:hover {
            background-color: rgba(0, 0, 0, 0.2);
        }
    }

}