:root {
  --scrollbarBg: rgba(255, 255, 255, 0.2);
  --scrollbarThumb: rgba(255, 255, 255, 0.3);
  --scrollbarWidth: 8px;
  --scrollbarBorder: 3px solid var(--scrollbarBg);
  --scrollbarBorderRadius: calc(var(--scrollbarWidth) / 2);
}

.modal-body {
    margin-right: 16px
}


@media (pointer: fine) {
    .modal-body {
        scrollbar-width: var(--scrollbarWidth);
        scrollbar-color: var(--scrollbarThumb) var(--scrollbarBg);
    }
    .modal-body::-webkit-scrollbar {
        width: var(--scrollbarWidth);
    }
    .modal-body::-webkit-scrollbar-track {
        background: var(--scrollbarBg);
        border-radius: var(--scrollbarBorderRadius);
    }
    .modal-body::-webkit-scrollbar-thumb {
        background-color: var(--scrollbarThumb);
        border-radius: var(--scrollbarBorderRadius);
        border: var(--scrollbarBorder);
    }
}
