<div class="modal fade" id="{{ project.slug }}-modal" tabindex="-1" aria-labelledby="{{ project.slug }}-modal-label" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content bg-glass bg-glass-matt">
      {% include 'elements/carousel.html' %}
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="{{ project.slug }}-modal-label">{{ project.title }}</h1>
      </div>
      <div class="modal-body">
        {{ project.description }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-standard" data-bs-dismiss="modal">
          Закрыть
        </button>
        <button type="button" name="goTariffsButton" class="btn btn-primary btn-standard">
          Перейти к стоимости
        </button>
      </div>
    </div>
  </div>
</div>