<div class="modal fade" id="success-modal" tabindex="-1" aria-labelledby="success-modal-label" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content bg-glass bg-glass-matt">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="order-modal-label">
          <i class="fa-solid fa-check"></i>
          Успешно
        </h1>
      </div>
      <div class="modal-body">
        <img class="mb-4" width="80" height="80" src="/static/icons/exciting.svg" alt="Man is exciting icon">
        <p class="mb-5 text-white">Поздравляем! Ваш заказ успешно отправлен. Ожидайте звонка от нашего менеджера, мы уточним данные и ответим на ваши вопросы.</p>
      </div>
      <div class="modal-footer justify-content-center justify-content-sm-end">
        <div class="col-12 col-sm-auto">
          <button type="button" class="btn btn-primary btn-standard w-100" data-bs-dismiss="modal">
            Закрыть
          </button>
        </div>
      </div>
    </div>
  </div>
</div>