{% extends 'sections/about.html' %}
{% load static %}

{% block title %}Создано профессионалами{% endblock %}

{% block description %}
    Студия с 15-летним опытом.
  Мы разбираемся в архитектуре, создавая функциональные пространства.
  Под руководством главного архитектора мы создаем выдающиеся проекты.
  Гарантируем качество, соблюдение сроков и реализацию проектов
  в России и за рубежом.
{% endblock %}

{% block image %}
  <img class="img-fluid" src="{% static 'img/bg_images/ipad.min.png' %}" alt="..."/>
{% endblock %}