{% load static %}

<section class="about-section text-center" id="about">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-lg-8">
        <h2 class="text-white mb-4">Создано профессионалами</h2>
        <p class="text-white-50">
          Студия с 15-летним опытом.
          Мы разбираемся в архитектуре, создавая функциональные пространства.
          Под руководством главного архитектора мы создаем выдающиеся проекты.
          Гарантируем качество, соблюдение сроков и реализацию проектов
          в России и за рубежом.
        </p>
      </div>
    </div>
    <img class="img-fluid" src="{% static 'img/bg_images/ipad.min.png' %}" alt="..."/>
  </div>
</section>