{% load static %}

<section id="about" class="about-section text-center pb-5">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center mb-5">
      <div class="col-lg-8">
        <h2 class="text-white mb-4">Премиум дизайн для каждого</h2>
        <div class="text-white-50">
          От современных квартир до частных домов и решений для бизнеса —
          мы создаем функциональный дизайн для любых пространств.
        </div>
      </div>
    </div>
    <div class="row pb-5">
      <div class="item col-12 col-lg-4">
        <div class="item-inner text-center p-3 p-lg-5">
          <img class="mb-4" width="80" height="80" src="{% static 'icons/interior.svg' %}" alt="">
          <h5 class="text-white">Интерьеры</h5>
          <div class="text-white-50">
            Мы проектируем интерьеры больших и маленьких квартир,
            ресторанов и общественных зон.
            Мы знаем, как создать уют в любом помещении.
          </div>
        </div><!--//item-inner-->
      </div><!--//item-->
      <div class="item col-12 col-lg-4">
        <div class="item-inner text-center p-3 p-lg-5">
          <img class="mb-4" width="80" height="80" src="{% static 'icons/house.svg' %}" alt="">
          <h5 class="text-white">Архитектура частных домов</h5>
          <div class="text-white-50">
            Мы делаем Архитектурные проекты частных домов любого размера и планировки.
            Создаем уютную обстановку.
          </div>
        </div><!--//item-inner-->
      </div><!--//item-->
      <div class="item col-12 col-lg-4">
        <div class="item-inner text-center p-3 p-lg-5">
          <img class="mb-4" width="80" height="80" src="{% static 'icons/dollar.svg' %}" alt="">
          <h5 class="text-white">Решения для бизнеса</h5>
          <div class="text-white-50">
            Большой опыт проектирования коммерческих объектов. Индивидуальный подход к потребностям любого бизнеса.
          </div>
        </div><!--//item-inner-->
      </div><!--//item-->
    </div>
  </div>
</section>