<section class="contact-section bg-black" id="contacts">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5">
      {% include 'sections/contact__card.html' with href='#' icon='fa-solid fa-user' title='Контакт' value='Сергей Кузнецов - руководитель студии' %}
      {% include 'sections/contact__card.html' with href='mailto:Serproject310@gmail.com' icon='fas fa-envelope' title='Email' value='Serproject310@gmail.com' %}
      {% include 'sections/contact__card.html' with href='tel:+79268567667' icon='fas fa-mobile-alt' title='Телефон' value='+7-926-856-76-67' %}
    </div>
    <div class="social d-flex justify-content-center">
      <a class="mx-2" target="_blank" href="https://api.whatsapp.com/send?phone=79268567667">
        <i class="fa-brands fa-whatsapp"></i>
      </a>
      <a class="mx-2" href="https://www.instagram.com/ser_project_/" target="_blank">
        <i class="fa-brands fa-instagram"></i>
      </a>
      <a class="mx-2" href="https://www.youtube.com/@ser_project_/" target="_blank">
        <i class="fa-brands fa-youtube"></i>
      </a>
    </div>
  </div>
</section>