<section class="contact-section" id="contacts">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5">
      <div class="col-md-10 col-lg-8 col-xl-7 col-xxl-6 mx-auto text-center">
        <i class="far fa-paper-plane fa-2x mb-2 text-white"></i>
        <h2 class="text-white mb-5">Узнайте стоимость вашего проекта</h2>
        <form class="form-signup mb-5 pb-5" id="contact-form" name="contact-form" action="{% url 'order_create' %}">
          <!-- Phone number input-->
          <div class="row input-group-newsletter d-block d-sm-flex">
            <div class="col d-flex">
              {{ order_create_form.phone_number }}
            </div>
            <div class="col-auto d-flex justify-content-center mt-3 mt-sm-0">
              <button class="btn btn-primary disabled" id="submitButton" name="submitButton" type="submit">
                Отправить
              </button>
            </div>
          </div>
          <div class="d-none message" id="submitSuccessMessage" name="submitSuccessMessage">
            <div class="text-center mb-3 mt-2 text-white">
              <div class="fw-bolder">Запрос успешно отправлен!</div>
            </div>
          </div>
          <div class="d-none message" id="submitErrorMessage" name="submitErrorMessage">
            <div class="text-center mb-3 mt-2 text-danger">
              <div class="fw-bolder">При отправке запроса произошла ошибка, попробуйте снова</div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5">
      {% include 'sections/contact__card.html' with href='#' icon='fa-solid fa-user' title='Контакт' value='Сергей Кузнецов - руководитель студии' %}
      {% include 'sections/contact__card.html' with href='mailto:Serproject310@gmail.com' icon='fas fa-envelope' title='Email' value='Serproject310@gmail.com' %}
      {% include 'sections/contact__card.html' with href='tel:+79268567667' icon='fas fa-mobile-alt' title='Телефон' value='+7-926-856-76-67' %}
    </div>
    <div class="social d-flex justify-content-center">
      <a class="mx-2 bg-glass" target="_blank" href="https://api.whatsapp.com/send?phone=79268567667">
        <i class="fa-brands fa-whatsapp"></i>
      </a>
      <a class="mx-2 bg-glass" href="https://www.instagram.com/ser_project_/" target="_blank">
        <i class="fa-brands fa-instagram"></i>
      </a>
      <a class="mx-2 bg-glass" href="https://www.youtube.com/@ser_project_/" target="_blank">
        <i class="fa-brands fa-youtube"></i>
      </a>
    </div>
  </div>
</section>