<header class="masthead">
  <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
    <div class="d-flex justify-content-center">
      <div class="text-center">
        <h1 class="mx-auto my-0 text-uppercase mb-5">Рассвет</h1>
        <h2 class="mx-auto mb-2 fs-5">
          Студия архитектуры и дизайна
        </h2>
        <p class="text-white-50 mb-5 pb-5">Архитектура и дизайн квартир, частных и общественных пространств в современном стиле</p>
        <a class="btn btn-glass" href="#tariffs">Заказать проект <i class="fa-solid fa-angles-down"></i></a>
      </div>
    </div>
  </div>
</header>