<div class="col d-flex">
  <div class="card mb-4 shadow-sm flex-grow-1 bg-glass">
    <div class="card-header py-3
         {% if forloop.last %}text-bg-black {% elif not forloop.first %}text-bg-primary{% endif %}">
      <h4 class="my-0 fw-normal">{{ tariff.title }}</h4>
    </div>
    <div class="card-body d-flex flex-column">
      <h1 class="card-title pricing-card-title">{{ tariff.price }}<small class="text-white-50 fw-light"> ₽/м²</small></h1>
      <p class="mt-3 mt-auto">{{ tariff.description }}</p>
      <button type="button" class="mt-auto w-100 btn btn-lg btn-outline-primary mb-1 shadow-none">
        Подробнее
      </button>
      <button type="button" class="w-100 btn btn-lg
              {% if forloop.last %}btn-black {% elif not forloop.first %}btn-primary{% else %}btn-outline-primary base-order-button{% endif %}">
        Заказать
      </button>
    </div>
  </div>
</div>