<div class="col d-flex">
  <div class="card mb-4 shadow-sm flex-grow-1 bg-glass">
    <div class="card-header py-3
         {% if forloop.last %}text-bg-black {% elif not forloop.first %}text-bg-primary{% endif %}">
      <h4 class="my-0 fw-normal">{{ tariff.title }}</h4>
    </div>
    <div class="card-body d-flex flex-column">
      <h1 class="card-title pricing-card-title">
        {% if tariff.price_prefix %}<small class="text-white-50 fw-light">от </small>{% endif %}
        {{ tariff.price }}<small class="text-white-50 fw-light"> ₽/м²</small>
      </h1>
      <p class="mb-auto pb-4">{{ tariff.description }}</p>
      <button type="button" name="detailsButton"
              class="d-lg-none mt-auto w-100 btn btn-lg btn-outline-primary mb-1 shadow-none"
              data-bs-toggle="collapse" data-bs-target="#collapse-{{ tariff.slug }}"
              aria-expanded="false" aria-controls="collapse-{{ tariff.slug }}">
        Подробнее <i class="fa-solid fa-angles-down"></i>
      </button>
      <div class="collapse d-lg-none" id="collapse-{{ tariff.slug }}">
        <ul class="dropdown-menu position-static d-grid gap-3 p-3 rounded-2 mx-0 mb-3 border-0"
            name="tariffAdvantages">
          <div>
            <p class="m-0">Тариф включает:</p>
            <hr class="dropdown-divider">
          </div>
          {% for advantage in tariff.tariff_advantages.all %}
            <li class="fw-lighter">{{ advantage }}</li>
          {% endfor %}
        </ul>
      </div>
      <button type="button" class="w-100 btn btn-lg
              {% if forloop.last %}btn-black {% elif not forloop.first %}btn-primary{% else %}btn-outline-primary base-order-button{% endif %}"
              data-bs-toggle="modal" data-bs-target="#order-modal" data-bs-whatever="{{ tariff.slug }}">
        Заказать
      </button>
    </div>
  </div>
</div>