<section class="projects-section bg-light" id="projects">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-lg-8 mb-5 text-center">
        <h2 class="mb-4">Каталог реализованных проектов</h2>
        <div class="">
          Откройте мир уникальных пространств, созданных нами.
          Приглашаем вас на виртуальную экскурсию по разнообразным концепциям идеальной
          гармонии между функциональностью и эстетикой.
          Вдохновитесь идеями для вашего будущего проекта.
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid mx-4 mx-lg-0 p-0">
    {% include 'elements/carousel.html' %}
    <div class="d-flex justify-content-center mt-3">
      {% include 'elements/pagination.html' %}
    </div>
  </div>
</section>