<section class="signup-section" id="signup">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5">
      <div class="col-md-10 col-lg-8 col-xl-7 col-xxl-6 mx-auto text-center">
        <i class="far fa-paper-plane fa-2x mb-2 text-white"></i>
        <h2 class="text-white mb-5">Узнайте стоимость вашего проекта</h2>
        <form class="form-signup" id="contact-form" action="{% url 'order_create' %}">
          <!-- Phone number input-->
          <div class="row input-group-newsletter d-block d-sm-flex">
            <div class="col d-flex">
              {{ order_create_form.phone_number }}
            </div>
            <div class="col-auto d-flex justify-content-center mt-3 mt-sm-0">
              <button class="btn btn-primary disabled" id="submitButton" type="submit">
                Отправить
              </button>
            </div>
          </div>
          <div class="invalid-feedback mt-2"
               data-sb-feedback="emailAddress:required">An email is required.
          </div>
          <div class="invalid-feedback mt-2"
               data-sb-feedback="emailAddress:email">Email is not valid.
          </div>
          <div class="d-none" id="submitSuccessMessage">
            <div class="text-center mb-3 mt-2 text-white">
              <div class="fw-bolder">Form submission successful!</div>
            </div>
          </div>
          <div class="d-none" id="submitErrorMessage">
            <div class="text-center text-danger mb-3 mt-2 error-message">
              При отправке запроса произошла ошибка, попробуйте снова
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>