// 
// About
// 

.about-section {
    padding-top: 10rem;

    p {
        margin-bottom: 5rem;
    }

    &:not(.background-image) {
        background: linear-gradient(to bottom,
                $black 0%,
                #{fade-out($black, 0.1)} 75%,
                #{fade-out($black, 0.2)} 100%);
    }
}