// 
// About
// 

.about-section {
    padding-top: 10rem;

    p {
        margin-bottom: 5rem;
    }

    &:not(.background-image) {
        background: linear-gradient(to bottom,
                $black 0%,
                #{fade-out($black, 0.1)} 75%,
                #{fade-out($black, 0.2)} 100%);
    }

    // TODO: delete in release
    // Grayscale filter for background image
    &.projects-bg::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;

        background-image: url("/static/img/bg_images/bg-projects.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-size: cover;

        filter: grayscale(40%) brightness(0.4);
    }

    // TODO: delete in release
    &.pricing-bg::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;

        background-image: url("/static/img/bg_images/bg-pricing.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-size: cover;

        filter: grayscale(40%) brightness(0.4);

    }
}