// 
// Contact
// 

.contact-section {
    position: relative;
    padding: 4rem 0;
    background: linear-gradient(to bottom,
        $black 0%,
        #{fade-out($black, 0.9)} 25%,
        #{fade-out($black, 0.9)} 75%,
        $black 100%);


    // Grayscale filter for background image
    &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;

        background-image: url("/static/img/bg_images/bg-signup.min.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-size: cover;

        filter: grayscale(40%) brightness(0.4);
    }

    .card {
        border: 0;
        border-bottom: 0.25rem solid $primary;

        h4 {
            font-size: 0.8rem;
            font-family: $font-family-special;
            text-transform: uppercase;
            letter-spacing: 0.15rem;
        }

        hr {
            opacity: 1;
            border-color: $primary;
            border-width: 0.25rem;
            width: 3rem;
        }
    }

    .social {
        margin-top: 5rem;

        a {
            text-align: center;
            height: 3rem;
            width: 3rem;
            background: fade-out($white, 0.9);
            border-radius: 100%;
            line-height: 3rem;
            color: fade-out($white, 0.7);

            &:hover {
                color: fade-out($white, 0.5);
            }

            &:active {
                color: $white;
            }
        }
    }
}