//
// Pricing section
//

.pricing-section {

    .bg-glass {
        backdrop-filter: blur(6px);
        background-color: rgba(255, 255, 255, 0.2);
        color: $white;
    }

    table td, table th {
        background-color: transparent;
        color: white;
        border-color: rgba(255, 255, 255, 0.2);
    }
}


.pricing-bg {
    position: relative;
    padding-top: 10rem;
    background: linear-gradient(to bottom,
        #{fade-out($black, 0.9)} 0%,
        #{fade-out($black, 0.5)} 75%,
        $black 100%);

    &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;

        background-image: url("/static/img/bg_images/bg-pricing.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-size: cover;

        filter: grayscale(40%) brightness(0.4);
    }
}

#tariffsComparingSection {
    padding-bottom: 10rem;
}
