//
// Pricing section
//

.pricing-section {
    table td, table th {
        background-color: transparent;
        color: white;
        border-color: rgba(255, 255, 255, 0.2);
    }

    .modal {
        .modal-header {
            border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        }

        .modal-body p, .form-text {
            color: rgba(255,255,255,0.8);
        }
    }
}


.pricing-bg {
    position: relative;
    padding-top: 10rem;
    background: linear-gradient(to bottom,
        #{fade-out($black, 0.9)} 0%,
        #{fade-out($black, 0.5)} 75%,
        $black 100%);

    &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;

        background-image: url("/static/img/bg_images/bg-pricing.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-size: cover;

        filter: grayscale(40%) brightness(0.4);
    }
}

#tariffsComparingSection {
    padding-bottom: 10rem;
}

[name="tariffAdvantages"] {
    color: white;
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: inset -2px -2px 3px rgba(255,255,255,0.1),
                inset  2px 2px 3px rgba(0,0,0,0.05) !important;
}


button[name='detailsButton'] {
    background-color: inherit !important;
    color: $secondary !important;
}

h1.card-title {
    font-size: calc(1.375rem + 1.5vw - 3px);
}
