//
// Modals for Projects section
//

.modal .carousel {
	.carousel-inner {
		@media (min-width: 768px) {
			border-top-left-radius: var(--bs-border-radius);
			border-top-right-radius: var(--bs-border-radius);
		}
	}


	.carousel-item img {
		object-fit: cover;
		object-position: center;
		width: 100%;
		height: 342px;

		@media (max-width: 475px) {
			height: 267px;
		}
	}

	.carousel-caption {
		h5 {
			font-size: 1rem;
			text-shadow: 1px 1px 1px rgba(0,0,0,0.3),
						 -1px -1px 1px rgba(255,255,255,0.3),
						 0px 0px 7px rgba(0,0,0,1),
						 -2px -2px 7px rgba(255,255,255,0.7),
						 0px 0px 9px rgba(0,0,0,1),
						 0px 0px 12px rgba(0,0,0,1);
		}
		p {
			font-size: 0.8rem;
			color: rgba(255,255,255,0.95);
			text-shadow: 1px 1px 1px rgba(0,0,0,0.3),
						 -1px -1px 1px rgba(255,255,255,0.3),
						 0px 0px 7px rgba(0,0,0,1),
						 0px 0px 9px rgba(0,0,0,1),
						 0px 0px 12px rgba(0,0,0,1);
		}
	}

}

.modal-content {
	box-shadow: 0px 0px 5px 1px rgba(255,255,255,0.3);
}