//
// Modals for Projects section
//

.modal .carousel .carousel-item img {
	object-fit: cover;
	object-position: center;
	width: 100%;
	height: 342px;
}

.modal-content {
	box-shadow: 0px 0px 5px 1px rgba(255,255,255,0.3);
}