// 
// Projects
// 

.projects-section {
    padding: 10rem 0;

    @media (max-width: 575px) {
        padding-top: map-get($spacers, 4);
    }

    .featured-image {
        max-height: 510px;
        object-fit: cover;
        width: 100%;
    }

    .featured-text {
        padding: 2rem;

        @media (max-width: 575px) {
            padding: $spacer;
        }

        @include media-breakpoint-up(lg) {
            padding: 0 0 0 2rem;
            border-left: 0.5rem solid $primary;
        }
    }

    .project-image {
        height: 100%;
        object-fit: cover;
    }

    .project-text {
        padding: 3rem;
        font-size: 90%;

        @include media-breakpoint-up(lg) {
            padding: 5rem;
        }
        @media (max-width: 575px) {
            padding: map-get($spacers, 4);
        }
    }

    .card-img-overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        backdrop-filter: blur(8px) brightness(0.7);
        clip-path: polygon(0 calc(100% - 88px),100% calc(100% - 88px),100% 100%,0% 100%);
        transition: all 0.5s;

        &.small-overlay {
            clip-path: polygon(0 calc(100% - 0px),100% calc(100% - 0px),100% 100%,0% 100%);
        }
    }

    .card:hover .card-img-overlay {
        clip-path: polygon(0 0,100% 0,100% 100%,0% 100%);

        &.small-overlay {
            clip-path: polygon(0 calc(100% - 88px),100% calc(100% - 88px),100% 100%,0% 100%);
        }
    }

    .hidden-text {
        flex: 1 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 60%;
        margin: 0 auto;
        color: white;

        @media (max-width: 575px) {
            width: 100%;
        }
        @media (min-width: 576px) and (max-width: 767px) {
            width: 80%;
        }
        @media (min-width: 768px) and (max-width: 1199px) {
            width: 70%;
        }
        @media (min-width: 1200px) and (max-width: 1399px) {
            width: 60%;
        }
        @media (min-width: 1400px) {
            width: 70%;
        }

        p.card-text {
            display: -webkit-box;       /* используется для поддержки старых версий WebKit */
            -webkit-line-clamp: 5;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    .visible-text {
        flex: 0 0 100px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        font-size: 2rem;
        color: white;
    }

    .visible-text-text .card-text {
        color: rgba(255,255,255,0.8) !important;
        white-space: nowrap;     /* Prevents wrapping onto the next line */
        overflow: hidden;        /* Hide overflowing content */
        -webkit-mask-image: linear-gradient(to right,
                            rgba(0,0,0,0.8) 0%,
                            rgba(0,0,0,0.8) 90%,
                            rgba(0,0,0,0) 100%);



    }
}